<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafias GYM</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="background-animation"></div>
        <div class="content">
            <div class="logo-container">
                <div class="subtitle">FORJA TU FUERZA Y TU DESTRESA CON </div>

                <h1 class="main-title">
                    <span class="mafias">MAFIAS</span>
                    <span class="gym">GYM</span>
                </h1>
            </div>
            
            <div class="cta-section">
            
                <button id="btn-registro" class="cta-button">clientes</button>
                <button id="btn-asistencia" class="cta-button">asistencia</button>
                <button id="btn-pagos" class="cta-button">pagos</button>
                <button id="btn-ventas"  class="cta-button">ventas</button>
            </div>
        </div>
        
        <div class="decorative-elements">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
        </div>
    </div>
    
</body>
</html>